* {
	box-sizing: border-box;
}
body {
	background-image: url(images/background/patt.png);
	font-family: 'Roboto', sans-serif;
}
.container {
	width: 1170px;
	margin: 0 auto;
}
[class*="col-"]{
	float: left;
}
.header {
	background-color: rgba(255,255,255,0.75);
	height: 100px;
}
.row:after {
	content: "";
	clear: both;
	display: block;
}
.col-3 {
	width: 25%;
}
.col-6 {
	width: 50%;
}
 li {
	float: left;
}